<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MealsApp</title>

        <!-- Bootstrap Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Bootstrap Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ base_url() }}/css/app.css">
        </head>
    <body>

        {% include 'templates/partials/navigation.twig' %}
        <div class="main">
            <div class='container'>
                {% include 'templates/partials/flash.twig' %}
                {% block content %}{% endblock %}
            </div>
        </div>

        <!-- jQuery 3.1.1 CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- Bootstrap Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Add Sortable tables plugin -->
        <script src="{{ base_url() }}/js/sorttable.js"></script>

        <script src="{{ base_url() }}/js/main.js"></script>

        <script src="https://use.fontawesome.com/714e5d56ed.js"></script>
    </body>
</html>